body, html {
	background: #000;
}
.header {
	margin: 0;
	background: #000;
}

.header .logo h1{
	color: #FFFFFF;
	font-weight: bold;
}

.nav {
	background: #3a3a3a;
	text-align:center;
	margin-bottom: 0 !important;
}

.nav li a {
	color: #fff;
    text-transform: uppercase;
}

.nav .navbar-toggle {
	background: #01defe;
    height: 100%;
    margin: 0 !important;
    border-radius: 0;
    padding: 17px;
}
.nav .navbar-toggle .icon-bar {
	background: #fff;
}

.navbar-nav>li {
    border-left: 1px solid #4c4c4c;
	padding: 0 12px;
}

.navbar-nav>li:last-child {
	border-right: 1px solid #4c4c4c;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0) !important;
	color: #9fce50;
}

.main-banner {
	background: url(img/bg.jpg) #000 no-repeat;
	height: 470px;
    background-size: 100% auto;
}

.main-banner h1 {
	color: #FFFFFF;
	text-align:center;
	font-size:60px;
	text-transform:uppercase;
	margin-top:2.5em;
	text-shadow: 6px 6px 8px rgba(0, 0, 0, 1);
    line-height: 60px;
}

.search {
	background: #000;
}

.search .inputSearch {
	border: 0;
    border-radius: 20px;
    padding: 22px;
    margin: 20px 0;
    font-size: 22px;
}

.search .icon {
	line-height: 40px;
    margin-right: 10px;
}

.content .col {
	color: #fff;
	background: #525252;
	padding: 20px 0
}
.content h1 {
	text-align: center;
	font-size:28px;
}

.content p {
	text-align: center;
	font-size:16px;
	line-height: 28px;
}

.promos .bg {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

.promos .col {
	text-align: center;
    margin: 40px 0;
}

.promos .promo1 {
	background: #01defe;
	border-radius: 100%;
	height: 141px;
	width: 141px;
    line-height: 168px;
}

.promos .promo2 {
	background: #cd1670;
	border-radius: 100%;
	height: 141px;
	width: 141px;
    line-height: 168px;
}

.promos .promo3 {
	background: #9fce50;
	border-radius: 100%;
	height: 141px;
	width: 141px;
    line-height: 168px;
}

.promos i {
	color: #fff;
}

.promos .title {
	color:#fff;
	font-size: 18px;
	margin-top:10px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.footer {
	background: #000;
	color:#fff;
	height:100px
}

.footer .row {
    height: 120px;
}

.footer img {
	margin-top: 50px;
}
.footer .copyright {
	margin-top:80px;
}